<mat-card class="element aside footer">
  <div class="made-with">
    CV réalisé en <a target="_blank" href="https://angular.io/">Angular 6</a>
     /
    <a target="_blank" href="https://material.angular.io/">Material</a>
  </div>
  <ul>
    <li class="source"><a target="_blank" href="https://github.com/nahili/cv/">Source sur GitHub</a></li>
    <li *ngIf="links && links.web" class="print"><a target="_blank" href="{{links.web}}">Version Web</a></li>
    <li *ngIf="links && links.pdf" class="no-print"><a target="_blank" href="{{links.pdf}}">Version PDF</a></li>
  </ul>
</mat-card>
