<mat-card class="element aside experiences">
  <mat-card-header>
    <div mat-card-avatar class="material-icons">accessibility</div>
    <mat-card-title>
      Expériences
    </mat-card-title>
  </mat-card-header>
  <mat-card-content  *ngIf="experiences" class="experiences-list">

    <mat-expansion-panel *ngFor="let exp of experiences" [expanded]="expand" [hideToggle]="expand">
      <mat-expansion-panel-header>
        <div class="header">
          <span color="primary" class="duration">{{exp.duration}}</span>
          <div class="years">
            <span class="from">{{exp.from | date:'y'}}</span>
            -
            <span class="to">{{exp.to | date:'y'}}</span>
          </div>
          <h3 class="title">{{exp.title}}</h3>
        </div>
      </mat-expansion-panel-header>

      <p class="description">
        {{exp.description}}
      </p>

      <div *ngIf="exp.contact" class="contact">
        <span class="title">Contact : </span>
        <span *ngIf="exp.contact.name">{{exp.contact.name}}</span>
        <a *ngIf="exp.contact.email" href="mailto:{{exp.contact.email}}">{{exp.contact.email}}</a>
        <a *ngIf="exp.contact.phone" href="tel:{{exp.contact.phone}}">{{exp.contact.phone}}</a>
      </div>

      <div *ngIf="exp.attestation" class="attestation">
        <a href="{{exp.attestation}}" class="title">Lien vers l'attestation</a>
      </div>

      <mat-chip-list>
        <mat-chip *ngFor="let ability of exp.abilities">
          {{ability}}
        </mat-chip>
      </mat-chip-list>

    </mat-expansion-panel>

  </mat-card-content>
</mat-card>
