
.description {
  font-size: 1.1em;
}

.years, .duration {
  font-size: 0.8em;
  margin-top: 1.2vw;
  margin-right: 1em;
}

.duration {
  font-weight: bold;
  width: 5em;
}

.years {
  width: 8em;
  color: #e91e63;
}

.title {
  flex-grow: 1;
  min-width: 9em;
  font-weight: bold;
}

.contact {
  margin-bottom: 1em;
}

.header {
  flex-wrap: wrap;
  display: flex;
}

/* Small screen */
@media screen and (max-width: 400px) {
  mat-expansion-panel-header {
    height: 76px !important;
  }
}
