.ability-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ability {
  width: 12em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
  margin: auto 0;
}

.levels {
  float:right;
}

/* Fixes a problem with the title being too low on screen small than 600px */
.mat-card-header {
  margin: 0 !important;
}

/* Types styles */
.lang { background-color: rgb(54, 107, 213); }
.lang:hover { background-color: rgb(78, 123, 212); }
.framework { background-color: rgb(54, 184, 84); }
.framework:hover { background-color: rgb(126, 177, 129); }
.human { background-color: rgb(201, 110, 58); }
.human:hover { background-color: rgb(204, 134, 94); }
.os { background-color: rgb(135, 60, 187); }
.os:hover { background-color: rgb(146, 74, 187); }
.tool { background-color: rgb(130, 75, 231); }
.tool:hover { background-color: rgb(143, 88, 228); }

.ability-inline {
  display:none;
  text-align: left;
}

.ability-block {
  display:block;
}

@media print {
  .print {
    display: block;
  }
  .no-print {
    display: none;
  }
}

/* Small screen */
@media screen and (max-width: 400px) {
  .ability {
    width: 100%;
  }
  .ability-inline {
    display:block;
  }
  .ability-block {
    display:none;
  }
}
