<div id="app" [class.app-print-theme]="print" class="mat-app-background">
  <div id="left">
  </div>

  <div id="right">
  </div>

  <div id="center">
    <div id="header">
      <app-person></app-person>
    </div>

    <div id="post-header">
      <app-bref></app-bref>
      <app-contact></app-contact>
    </div>

    <div class="content">
      <app-abilities></app-abilities>
      <app-experiences></app-experiences>
    </div>

    <div id="post-content">
      <app-languages></app-languages>
      <app-hobbies></app-hobbies>
      <app-diploma></app-diploma>
    </div>

    <div id="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
