.duration {
  font-size: 0.8em;
  font-weight: bold;
  width: 5em;
  color: rgb(91, 0, 0);
}

.dates {
  width: 8em;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  flex-grow: 1;
}

.content {
  padding-left: 1em;
  margin-bottom: 4em;
}

.description {
  padding-top: 1em;
  padding-bottom: 1em;
}

.header, .contacts, .abilities-list {
  display: flex;
  justify-content: flex-start;
}

.header span {
  margin:auto;
}

.abilities-list {
  flex-wrap: wrap;
  padding-left: 0;
}

.abilities-list li:first-child {
  list-style-type: none;
  margin-left:0;
}

.ability {
  list-style-type: disc;
  margin-left: 1.5em;
}

.section-title, .contact-title {
  font-weight: bold;
  padding-right: 1em;
  float: left;
}

.section-title {
  width: 13em;
}

.contact-title {
  width: 5em;
}

.contact-name {
  color: rgb(91, 0, 0);
  padding-right: 1em;
}
