<h1>Expériences</h1>

<div *ngFor="let exp of experiences" class="experience">
  <div class="header">
    <div class="dates">
      <span class="duration">{{exp.duration}}</span>
      <span class="from">{{exp.from}}</span>
      <span class="separator">-</span>
      <span class="to">{{exp.to}}</span>
    </div>
    <span class="title">{{exp.title}}</span>
  </div>
  <div *ngIf="exp.abilities || exp.contact || exp.description" class="content">
    <div *ngIf="exp.description" class="description">
      {{exp.description}}
    </div>
    <div *ngIf="exp.abilities" class="abilities">
      <span class="section-title">Compétences acquises : </span>
      <ul>
        <li *ngFor="let element of exp.abilities">
          {{element}}
        </li>
      </ul>
    </div>
    <div *ngIf="exp.contact" class="contacts">
      <span class="section-title">Contact : </span>
      <span *ngIf="exp.contact.name" class="contact-name">{{exp.contact.name}}</span>
      <span *ngIf="exp.contact.email" class="contact-email">{{exp.contact.email}}</span>
      <span *ngIf="exp.contact.phone" class="contact-phone">{{exp.contact.phone}}</span>
    </div>
  </div>
</div>
