h1::first-letter {
  font-size: 1.2em;
}

.name h1 {
  display: inline;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: bold;
}

.name {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 1.5em;
}

.age {
  font-weight: bold;
}

.diploma {
  float:right;
}

.experience {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.disponibility {
  display: flex;
  justify-content: flex-start;
}

.disponibility section {
  font-size: 0.8em
}

.disponibility header {
  font-weight: bold;
  margin: auto 1em auto 0;
}
