<div class="header">

  <div class="name">
    <h1>
      {{header.firstname | uppercase}}
    </h1>
    <h1>
      {{header.lastname | uppercase}}
    </h1>
  </div>

  <div class="age">
    {{header.age}} ans
  </div>

  <div class="diploma">
    {{header.diploma}}
  </div>

  <div class="experience">
    {{header.experience}} d'expérience
  </div>

  <div class="disponibility">
    <header>
      Disponible
    </header>
    <div class="disponibility-content">
      <section *ngIf="header.disponibility.remote" class="remote">
        dès {{header.disponibility.remote}} à distance
      </section>
      <section *ngIf="header.disponibility.local" class="local">
        dès {{header.disponibility.local}} en Suisse
      </section>
    </div>
  </div>
</div>
