.section-title {
  width:5em;
  margin-top: auto;
  margin-bottom: auto;
}

.section, .elements {
  display: flex;
  justify-content: flex-start;
}

.elements {
  padding: 0;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.element {
  margin-left: 1.5em;
}

.elements li:first-child {
  list-style-type: none;
}
