<div *ngIf="ability">
  <h1 mat-dialog-title>{{ability.name}}</h1>
  <mat-dialog-content>
    <p class="description">
      {{ability.description}}
    </p>
    <div *ngFor="let project of ability.projects">
      <h3 class="where">
        {{project.where}}
      </h3>
      <div class="what">
        {{project.what}}
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button color="primary" mat-raised-button mat-dialog-close>Retour</button>
  </mat-dialog-actions>
</div>
