/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.clear {
  clear:both;
}

a {
  color: #e91e63;
  text-decoration: none;
}

a:hover {
  color: #c4134f;
  text-decoration: underline;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card-title {
  text-transform: uppercase;
}

/* By default, hide the print version */
.print, .print-inline {
  display: none !important;
}

.no-print {
  display: block;
}

.no-print-inline {
  display: inline;
}

/* Print specific stylesheet */
@media print {
  .no-print, .no-print-inline {
    display: none !important;
  }

  .print {
    display: block;
  }

  .print-inline {
    display: inline !important;
  }
}
